*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none
}

/* Light */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYYT8L_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normal */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Medium */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcYT8L_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.header-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/img/bg_image_1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  background-color: rgba(82, 86, 92, 0.8);
  position: relative;
  z-index: 1000;
}

header h1{
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin: 50px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

header nav ul{
  width: 350px;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

header nav ul li a{
  color: #ccc;
  font-weight: 400;
  margin: 20px;
  font-size: .9em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header .language-selector{
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(69, 71, 73, 0.8);
  color: #fff;
  font-size: .9em;
  margin: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

ul li a:hover, .active {
  color: #fff;
}

.icon-menu {
  display: none;
}

header nav ul.show {
  display: block;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(82, 86, 92, 0.8);
  padding: 10px;
  animation: slideDown 0.6s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header nav ul.show li {
  margin: 5px 0;
  padding: 10px;
}

header nav ul.show li a {
  color: #ccc;
  font-weight: 400;
  font-size: .9em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header nav ul.show li:hover a {
  color: #fff; /
}

header nav ul.show li:first-child a {
  color: #fff; 
}

.language-es{
  display: none;
}

/* información dev */
.info-dev{
  position: relative;
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-dev{
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-dev .welcome{
  color: #ccc;
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.text-dev .name-text{
  width: 100%;
  font-size: 2em;
  color: #ccc;  
  font-family: 'Quicksand', sans-serif;
  font-weight: 300; 
  white-space: nowrap;
  max-width: 100%; 
  padding: 10px;
}

.text-dev .name-text span{
  color: #d43403;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.info{
  min-width: 230px;
  padding: 12px 0;
  background-color: rgba(122, 23, 23, 0.2);
  border-radius: 20px;
  color: #d43403;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(24, 23, 23, 0.1);
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

/* seccion uno */
.section-one{
  width: 100%;
  height: 100vh;
  margin: 120px 0;
}

.section-info{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.section-info .image{
  width: 45%;
  height: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.section-info .image .image-content{
  position: relative;
  width: 50%;
  min-width: 250px;
  height: 60vh;
  background-image: url('/assets/img/bg_image_1.jpg'); 
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat; 
}

.image-content::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -35px;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(27, 26, 26, 0.1);
  z-index: -1; 
}

.section-info .dev-info{
  width: 55%;
  height: 70vh;
  padding: 5px;
  flex: 1;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.content-dev-info h1{
  font-size: 2.3em;
  font-weight: 300;
  color: #333;
  margin: 5px;
  padding: 5px;
}

.content-dev-info h5{
  font-size: 1.2em;
  font-weight: 400;
  color: #d43403;
  margin: 5px;
  padding: 5px;
}

.content-dev-info .description-dev{
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  font-size: 1em;
  font-weight: 300;
  color: #333;
  margin: 5px;
  line-height: 1.5;
  padding: 5px;
}

.list-dev {
  position: relative;
  padding-left: 30px;
  list-style: none;
  z-index: 10;
  margin: 6px;
}

.list-dev li {
  display: flex; 
  align-items: center; 
  margin: 10px 0;
  color: #333;
  font-weight: 300;
  position: relative; 
}

.list-dev li b {
  margin-right: 5px;
}

.list-dev li::before {
  content: "";
  position: absolute;
  left: -25px; 
  top: 50%; 
  transform: translateY(-50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #d43403;
}

.content-dev-info .btn{
  margin: 20px 10px;
  padding: 5px;
  cursor: pointer;
  --color: #d43403;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 1em;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: #fff;

}

.content-dev-info .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
.content-dev-info .btn:hover {
  color: #fff;
 }
 
.content-dev-info .btn:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
.content-dev-info .btn:hover:before {
  top: -30px;
  left: -30px;
 }
 
.content-dev-info .btn:active:before {
  background: #d43403;
  transition: background 0s;
 }

/* boton de ir arriba */
.top {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100000;
  margin-left: 90%;
  position: fixed;
  bottom: 20px;
  display: none;
}
.top i{
  width: 40px;
  height: 40px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 10000;
  border-radius: 10px;
}

.btn-top {
  border: 1px solid #162526;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: #394D59;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #162526;
}

.btn-top:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(102, 11, 11, 0.5),
      0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #394D59;
}

/* <!-- my skills --> */
.skills-dev-content{
  width: 100%;
  height: auto;
}

.skills-dev-content .skill-title{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2em;
  color: #333;
}

.skills{
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  flex: 0 0 100%; 
  margin: 10px;
  padding: 5px;
}
.skills .caption {
  color: #333;
  font-weight: 400;
  margin: 3px;
}

.skills .progress{
  width: 100%;
  height: 4vh;
  border: 2px solid #d43403;
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  display: flex; 
  align-items: center;
  padding: 0px 2px;
}

.skills .progress .progress-bar {
  width: 86%; 
  height: 80%;
  background-color: #d43403; 
  border-radius: 20px;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease; 
  color: #fff;
  font-size: .8em;
}

/* contenido de experiencias y educación */
.content-all{
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  gap: 5px;
}

.education-content, .experiencie-content {
  width: 50%;
  height: auto;
}

.education-content .title-dev{
  font-size: 1.2em;
  color: #333;
  font-weight: 400;
  margin: 15px 10px;
}

.timeline{
  position: relative;
  display: block;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  width: 3px;
  height: 95%;
  background-color: #e3e5e9;
}

.timeline li {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 20px;
}

.timeline li:first-child::before {
  background-color: #8cc63f;
  width: 18px;
  height: 18px;
}

.timeline li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-color: #747474;
  border: 3px solid #fff;
  border-radius: 50%;
}

ul li:first-child .title {
  background-color: #8cc63f;
}

ul li .title {
  width: 150px;
  padding: 6px 20px;
  background-color: #999c94;
  color: #fff;
  font-weight: 500;
  border-radius: 30px 0 60px 30px; 
}

.details{
  margin: 5px;
  background-color: #f4f5f8;
  border-radius: 2px;
  padding: 8px;
}

.details h5{
  color: #162526;
  margin: 0 5px;
  font-size: .8em;
}

.details .fg-theme{
  color: #86e20e;
  margin: 5px 5px;
  font-size: .8em;
  font-weight: 400;
}

.details p{
  color: #162526;
  margin: 5px 5px;
  font-size: .8em;
}

.experiencie-content .title-dev{
  font-size: 1.2em;
  color: #333;
  font-weight: 400;
  margin: 15px 10px;
}

/* responsive */
@media (max-width: 1300px) and (min-width: 768px) {
  .section-info .image .image-content {
    width: 55%;
    min-width: 300px;
    height: 60vh; 
  }
}
/* contenido de skill responsive */
@media screen and (min-width: 768px) {
  .skill {
    flex: 0 0 calc(50% - 20px); 
  }
}

/* contenido de experiencia y educacion */
@media screen and (max-width: 768px) {
  .content-all {
    width: 100%;
    height: auto;
    flex-direction: column; 
  }

  .education-content, .experiencie-content {
    width: 100%; 
    height: auto;
  }
}


@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
  
  .language-selector {
    display: none;
  }

  .language-es {
    display: flex;
  }

  .language-es a{
    background-color: rgba(69, 71, 73, 0.8);
    border-radius: 15px;
    padding: 10px;
  }

  .icon-menu {
    margin: 50px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

/* seccion uno */
.section-info {
  flex-direction: column; 
  height: auto; 
}

.section-info .image {
  width: 100%; 
}

.section-info .image .image-content {
  width: 45%; 
  height: 55vh; 
}
}

@media screen and (max-width: 576px) {  
  header h1{
    margin: 10px;
  }

  .language-selector {
    display: none;
  }

  .language-es {
    display: flex;
  }

  .language-es a{
    background-color: rgba(69, 71, 73, 0.8);
    border-radius: 15px;
    padding: 10px;
  }

  .icon-menu {
    margin: 10px; 
  }

  .text-dev .name-text{
    font-size: 2em;
  }

  /* seccion uno */
  .text-dev{
    margin-bottom: 100px;
  }

.section-one{
    margin: 50px 0;
  }
  
.section-info {
  flex-direction: column; 
  height: auto; 
}

.section-info .image {
  width: 100%; 
}

.section-info .image .image-content {
  min-width: 240px; 
  max-height: 300px; 
}

.section-info .dev-info{
  width: 100%;
  height: 70vh;
  flex: 1;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.text-dev .name-text{
  font-size: 1.8em;
}
}

